@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HamburgSans";
  src: url("/fonts/HamburgSans-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "HamburgSans";
  src: url("/fonts/HamburgSans-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.tooltip {
  background-color: white !important;
  opacity: 1 !important;
  border: black solid 2px !important;
  padding: 2rem !important;
  width: 280px !important;
  color: black !important;
}

.hero {
  height: calc(100vh - 128px);
}
