@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HamburgSans";
  src: url("/fonts/HamburgSans-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "HamburgSans";
  src: url("/fonts/HamburgSans-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@layer components {
  .tooltip {
    @apply !bg-secondary !border-2 !rounded-lg !border-primary !opacity-100 !p-8 !text-black !w-60 md:!w-80;
  }

  .menuItem {
    position: relative;
    text-decoration: none;
  }

  .menuItem::after {
    @apply bg-black absolute w-full h-[3px] bottom-0 left-0;
    content: "";
    transition: transform 0.3s;
    transform: scaleX(0);
    transform-origin: center;
  }

  .menuItem:hover::after,
  .menuItem:focus::after,
  .menuItem.active::after {
    transform: scaleX(1);
  }
}

.hero {
  height: calc(100vh - 128px);
}
